* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
  }
  
  /*grid container*/
  body {
    color: #A0ACAD;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: 
      'header header'
      'nav main'
      'footer footer';
  }
  
  /* itens filhos do container grid*/
  header {
    background-color: #33032f;
    padding: 10px;
    height: 15vh; /* 15% da altura da viewport (a área visível do navegador)*/
    grid-area: header;
  
  }
  
    
  nav {
    background-color: #531253;
    padding: 10px;
    grid-area: nav;
    text-decoration: none;
  }
  
  main {
    background-color: #A0ACAD;
    color: #33032f;
    padding: 10px;
    height: 75vh;
    grid-area: main;
  }
  
  div {
    padding: 10px;
    grid-area: links;
  }
  
  footer {
    background-color: #33032F;
    padding: 10px;
    height: 10vh;
    grid-area: footer;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }